*{
    margin: 0;
    padding: 0;
    list-style: none;
}
.clearfix{
    display: block;
    content: '';
    clear: both;
}
.font_16_blk{
    font-size: 16px;
    color: #333;
}
.font_14_gray{
    font-size: 14px;
    color: #999;
}

.swiper-container{
    width: 400px;
    height: 200px;
}
.swiper-slide{
    background: orange;
}

.main-list{
    position: relative;
    left: 50%;
    width: 400px;
    margin-left: -200px;
}

.li-item{
    border:1px solid lightgray;
    border-left-color: transparent;
    border-right-color: transparent;
    border-top-color: transparent;
    padding-top: 10px;
    padding-bottom: 10px;
}
.li-item img{
    display: block;
    width: 42px;
    height: 42px;
    float: left;
}

.cp-text{
    display: inline-block;
    margin-left: 20px;
}

.btn:active,
.btn:focus,
.btn:active.focus{
  outline: none;
}

.bg_color{
  background: #F6F6F6;
}

.screen_size{
  width: 400px;
  height: 667px;
}

.container {
  overflow: hidden;
  min-height: 100%;
}
.container:before {
  height: 2.75rem; }
.container:after {
  height: 0.625rem; }

